.header {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding: 1em;
    margin-bottom: 2em;
    background-color: #FFFFFF;
    color: #fff;
  }

.logo{
    width: 220px;
    float: left;
}
a{
    color: #162E5B;
    margin: auto;
    font-weight: bold;
}
.people-icon{
    width: 32px;
    height: 32px;
    margin: auto;
}