html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #ececec;
  color: #162e5b;
  word-wrap: break-word;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.recharts-legend-item {
  cursor: pointer;
}

.legend-item-0,
.legend-item-1,
.legend-item-6,
.legend-item-7 {
  display: none !important;
}
td:first-child{
  max-width:10rem;
}
