.container {
  min-width: 70%;
  height: 80vh;
  display: flex;
  flex-direction: row;
}
.graph {
  width: 100%;
  height: 100%;
  border: 2px solid #162e5b;
  padding: 25px 0;
  padding-left: 25px;
  display: flex;
  flex-direction: column;
}
.graphYear {
  margin: 0 auto;
  height: 40px;
}
.info {
  width: 28vw;
  height: 100%;
  border-width: 2px 2px 2px 0;
  border-style: solid;
  border-color: #162e5b;
  background-color: #ffffff;
}
