.card {
    padding: 1.5rem;
    text-align: left;
    color: inherit;
    background-color: #FFFFFF;
    text-decoration: none;
    border: 1px solid #FFFFFF;
    border-radius: 3px;
    min-width: 40vw;
    min-height: 65vh;
}
.form{
    width: 60%;
    margin: auto;
    margin-top: 12vh;
}

.title{
    text-align: center;
    margin-top: 6vh;
}
